::selection {
  background: #FF9A9A !important; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #FF9A9A !important; /* Gecko Browsers */
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('http://bridgeday.000webhostapp.com/img/videoframe.png') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}


body, html{
  margin: 0 !important;
}
.section {
  height: 100vh !important;
  background-color: white;
  font-family: sans-serif;
  text-align: justify;
}
.fadeIn{
	opacity:0;
}

.transition, .footer{
  height: 50vh !important;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.transition{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://bridgeday.000webhostapp.com/img/bridgeTeam.jpg') no-repeat center center fixed;
}
/*'*/
.footer{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://bridgeday.000webhostapp.com/img/bridgeTeam.jpg') no-repeat center center fixed;
}

/*'*/
.second{
  margin-top: 100vh;
}

.overlay {
    z-index: -90;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)) no-repeat center center fixed;
}

.title {
    color: white;
    font-size: 100px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    position: absolute;;
    height: 10vh;
    top: 40vh;
    width: 100%;
    margin: auto;
    word-wrap: break-word;
}

#downArrowWrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
#downArrowWrapper:hover{
  cursor: pointer;
}

.subTitle{
  font-weight: 600;
  padding-top: 7.5vh;
  font-size: 40px;
  color: red;
  text-align: center;
  position: relative;
}
#errorMSG{
  padding-top: 5vh;
  font-size: 20px;
  text-align: center;
  position: relative;
  padding-bottom: -5vh;
}

#reg{
  padding-top:5vh;
}

.select-style {
position: relative;
    font-size: 14px;
    -webkit-appearance: menulist-button;
    height: 30px;
    width: 500px;
}

.mdl-textfield, .mdl-radio{
  margin-right: 2.5% !important;
  margin-left: 2.5% !important;
}

figcaption{
  font-size: 25px;
  color: white;
}
